.calendar {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.border {
  position: relative;

  min-height: 34px;
  padding: 0 32px 15px 0;
  margin-bottom: 10px;

  border-bottom: 2px solid #eee;
}

.border:last-child {
  margin-bottom: 0;

  border: none;
}

.description {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event__icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;

  height: 30px;
  width: 30px;
}
