*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.h100 {
  height: calc(100vh - 64px);
}

.ant-layout {
  background-color: #fff;
}

.contentCenter > .ant-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
